font-family: "Lucida Sans", sans-serif;
}
header{ background-color: lightgrey;
}
body { 
background-color: white;
}
h1 {
text-align: left;
color: dodgerblue;
}
h2 {
text-align: left;
color: DarkVilet;
}
h3 {
text-align: left;
}
p {
text-align: left;
color: DarkGreen;
}
