#searchBox {
  padding: 0.3em;
  width: 300px;
  font-size: 1em;
}

#searchControls {
  margin-bottom: 1em;
}

#searchBtn,
#clearBtn,
#themeSelect {
  margin-top: 0.3em;
  font-size: 1em;
  padding: 0.3em 0.6em;
}

#resultCount {
  margin: 0.5em 0 1em 0;
  font-weight: bold;
}
